
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
        }

        header {
            background-color: #0a822a;
            color: white;
            padding: 20px;
            text-align: center;
        }

        header h1 {
            margin: 0;
        }

        nav {
            display: flex;
            justify-content: center;
            background-color: #059f36;
            padding: 10px 0;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
        }

        nav a:hover {
            text-decoration: underline;
        }
        .about {
            border: 1px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: white;
            text-align: center;
            
        }
        .hero {
            text-align: center;
            padding: 50px 20px;
            background-image: url('pngtree-vibrant-green-squama-texture-abstract-background-resembling-snake-dragon-or-fish-image_13891014.png' );
            background-size: cover;
            color: white;
        }

        .hero h2 {
            font-size: 2.5rem;
            
        }

        .hero p {
            font-size: 1.2rem;
        }

        .products {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            padding: 20px;
        }

        .product-card {
            border: 1px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: white;
            text-align: center;
        }

        .product-card img {
            width: 100%;
            height: auto;
        }

        .product-card h3 {
            margin: 15px;
        }

        .product-card p {
            margin: 15px;
            color: #666;
        }
        .contact {
            border: 1px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: white;
            text-align: center;
        }

        footer {
            text-align: center;
            padding: 20px;
            background-color: #0a822a;
            color: white;
        }

        footer p {
            margin: 0;
        }